<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms HPPL.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FAA35BEA3EF73B944F8B5B76E7CCA0B0CD09ED61</string>
				<key>dateExpires</key>
				<string>17/01/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FAA35BEA3EF73B944F8B5B76E7CCA0B0CD09ED61</string>
						<key>dateExpires</key>
						<string>17/01/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>E2F5LS5XHG</string>
						<key>name</key>
						<string>ELOFIC INDUSTRIES LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FAA35BEA3EF73B944F8B5B76E7CCA0B0CD09ED61</string>
						<key>dateExpires</key>
						<string>17/01/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>E2F5LS5XHG</string>
						<key>name</key>
						<string>ELOFIC INDUSTRIES LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FAA35BEA3EF73B944F8B5B76E7CCA0B0CD09ED61</string>
						<key>dateExpires</key>
						<string>17/01/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>E2F5LS5XHG</string>
						<key>name</key>
						<string>ELOFIC INDUSTRIES LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FAA35BEA3EF73B944F8B5B76E7CCA0B0CD09ED61</string>
						<key>dateExpires</key>
						<string>17/01/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>search_choices.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>E2F5LS5XHG</string>
						<key>name</key>
						<string>ELOFIC INDUSTRIES LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FAA35BEA3EF73B944F8B5B76E7CCA0B0CD09ED61</string>
						<key>dateExpires</key>
						<string>17/01/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>E2F5LS5XHG</string>
						<key>name</key>
						<string>ELOFIC INDUSTRIES LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>E2F5LS5XHG.com.example.termshppl</string>
				<key>com.apple.developer.team-identifier</key>
				<string>E2F5LS5XHG</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>E2F5LS5XHG.com.example.termshppl</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b91c3970-fd6c-4e06-bb89-75e64f475471</string>
				<key>dateExpires</key>
				<string>17/01/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.termshppl</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>E2F5LS5XHG</string>
				<key>name</key>
				<string>ELOFIC INDUSTRIES LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
